body{
    background-color:  hsl(225, 100%, 94%);
}
h1{
    text-align: center;
    font-family: Merriweather;
}
.main-container{
    width:450px;
    height:650px;
    display: inline-block;
    background-color:white;
    position: relative;
    left: 450px;
    bottom: 300px;
    border-radius: 50px;

}
.para{
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-family: Montserrat;
}
.second{
    background-color: rgb(239, 239, 243);
    display: inline-block;
    position: relative;
    left:25px;
    padding: 0px;
    border-radius: 20px;
    width: 400px;
}
.para1{
    display: inline-block;
}
h3{
    display:inline-block;
    position: relative;
    top: 10px;
    align-items: center;
   
    

}
.para2{
    display:block;
    margin-top:0;
    margin-bottom: 0;

}
.third{
    display: inline-block;
    margin-right: 50px;
    margin-left:10px;
    position: relative;
    bottom: 15px;
    left: 30px
    
    
}
.img2{
    position: relative;
    bottom:10px;
    left:20px
}
.para3{
    display: inline;
    position: relative;
    bottom: 30px;
    left:90px;
    text-decoration: none;
    font-weight:300px;
    font-family: 'Montserrat';

}
a:link{
    text-decoration:none;
    color: black;
    font-size: 16px;
}
a:hover{
    color:blue
}
.button{
    position: relative;
    top: 50px;
    left: 30px;
    background:hsl(245, 75%, 52%);
    font-family: 'Montserrat';
    font-size: 16px;
    color:white;
    height:50px;
    width:400px;
    border:0px;
    border-radius:15px;
    transition-duration:0.4s;

}
.heading3{
    position:relative;
    top: 60px;
    left:180px;
    font-size:16px;
    font-weight:300px;
    font-family: 'Montserrat';
}
.big-img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
button:hover{
    background-color: rgb(107, 107, 238)
}
